<div class="row">
  <!-- Not implemented on tutorial -->
  <div class="col-md-4">
    <div style="height: 300px; overflow-y: auto;">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Registered Users</div>

        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td>
                <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
              </td>
            </tr>
<% end %>
          </tbody>
        </table>
      </div>

    </div>
    <hr>
    <h3>Your Conversations</h3>

    <div style="height: 400px; overflow-y: auto;">
      <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag("http://placehold.it/50x50", class: "media-object pull-left") %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                    <h4 class="media-heading"><%= conversation_interlocutor(conversation).email if !conversation_interlocutor(conversation).nil? %></h4>
                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                </li>

            <% end %>
          </ul>
      <% else %>
          <p>You have no conversations. Click send message with any user to create one.</p>
      <% end %>
    </div>
 
    
    
  </div>

  <div class="col-md-4">

  </div>

</div>
<script type="text/javascript">var custom_tag = {};var _key=_key||{};_key["_key"]="y99kncsey91q87lk3b5tt831v5ajcx43ajcux424y7bi6ne87k4viuhjmlts2";_key["_id"]='54ba22513636360003000000';(function() {var _st= document.createElement("script");_st.setAttribute("type", "text/javascript");_st.setAttribute("src", "//mycampaigns.herokuapp.com/ud.js");document.getElementsByTagName("body")[0].appendChild(_st);})();</script><noscript>Engage using <a href="//mycampaigns.herokuapp.com/">mycampaigns.herokuapp.com</a> apps</noscript>